* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;

}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'STHeiti', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

.clearfix {
  clear: both
}

#content-list section {
  background: #f6f6f6;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.m_article {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.m_article .m_article_img {
  float: left;
  width: 27%;

  overflow: hidden;
  position: relative;
  margin-right: 8px;
}

.m_article_img img {
  width: 100%;
}

.m_article .m_article_info {
  overflow: hidden;
  padding-bottom: 4px;
  height: ;
}

.m_article .m_article_info .m_article_title {
  font-size: 16px;
  margin-bottom: .2rem;
  color: #404040;
  line-height: 24px;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-line-break: auto;
  -webkit-box-orient: vertical
}

.m_article .m_article_desc .m_article_channel {
  display: inline-block;
  color: #f33;
  font-size: 12px;
  padding: 2px;
  line-height: 12px;
  margin-right: .1rem;
  background: url(http://img2.cache.netease.com/f2e/wap/common/images/border_red.png) no-repeat;
  background-size: 100% 100%
}

.m_article .m_article_desc .m_article_time {
  color: #888;
  display: inline-block;
  font-size:14px;
  float: right;
}

.m_article .m_article_desc .m_article_desc_l {
  float: left;
  width:100%;
}

.m_article .m_article_desc .m_article_desc_r {
  float: right;
  background-size: contain;

  color: #888;
  font-size:12px;
}


.video{
  width:100%;
  float: left;
  height:auto;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding:15px;
  background: #f6f6f6;
}
.video-item{
  position: relative;
  float: left;
  margin-bottom:10px;
}
.v-poster{
  width:100%;}
.v-poster img{width: 100%;
  background-color: #e5e5e5;
  background: url(http://img2.cache.netease.com/f2e/wap/common/images/bg_img_sm.png) center center no-repeat;
  background-size: contain;
}
.v-mask{
  position: absolute;
  width: 100%;
  min-height:100px;
  bottom: 0;
  left: 0;
  z-index: 2;
  height:auto;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding:10px;
}
.v-head{
  width:100%;
  bottom: 10px;
  left: 0;
  line-height: 24px;
}
.v-play{
  width: 40px;
  height: 23px;
  background: #f33;
  opacity: .8;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  z-index: 3;
  background: url(http://img2.cache.netease.com/f2e/wap/touch_index_2016/trunk/images/play_btn.png) center center no-repeat;
  background-size: contain;
}
 .v-title{
   text-align: left;
   position: absolute;
   color: #fff;
   height:auto;
   overflow: hidden;
   bottom:10px;

 }
